<p>
  Name: <strong><%= @team.name %></strong>
  Description: <strong><%= @team.description %></strong>
  <br/>
  Wallet ID: <strong><%= @wallet.id %></strong>
  <br/>
  Wallet Balance: <strong><%= @wallet.currency %> <%= @wallet.balance.format %></strong>
</p>
<hr/>
<%= render 'wallets/transactions', wallet: @wallet %>
