<p>
  Code: <strong><%= @stock.code %></strong>
  Name: <strong><%= @stock.name %></strong>
  Company: <strong><%= @stock.company %></strong>
  <br/>
  Wallet ID: <strong><%= @wallet.id %></strong>
  <br/>
  Wallet Balance: <strong><%= @wallet.currency %> <%= @wallet.balance.format %></strong>
</p>
<hr/>
<%= render 'wallets/transactions', wallet: @wallet %>
